
<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Branding on left side-->
  <a class="navbar-brand" routerLink="">Chat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Main Nav panel -->
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLink="login">Sign Out</a>
      </li>
    </ul>

    <!-- Welcome note on right side -->
    <ul class="navbar-nav">
      <form>
        <div class="form-group">
          <label for="profileimage">Change profile image</label>
          <input type="file" (change)="imageChanged($event)" class="form-control-file" id="profileimage" accept="image/*">
        </div>
      </form>
      <li class="nav-item">
        Welcome <strong>{{ user.username }}</strong>
        <img *ngIf="!user.profile" src="messageimages\default.jpg" style="object-fit: contain; height: 50px; width: 50px; border-radius: 50%" alt="Profile image" >
        <img *ngIf="user.profile" src="messageimages\{{user.profile}}" style="object-fit: contain; height: 50px; width: 50px; border-radius: 50%" alt="Profile image" >
      </li>
    </ul>
  </div>
</nav>

<!-- Main Body -->
<div class="container h-100" style="max-width: 1920px; padding: 0px; margin-left: auto; margin-right: auto">
  <div class="row" style="width: 100%">
      <!-- Groups -->
      <div class="col-lg-2" style="padding:0px">

        <!-- Groups Section -->
        <div class="card mb-3">
          <h3 class="card-header">Groups</h3>
          <div class="card-body" style="height: 500px; overflow-y:scroll">

            <!-- New Group Form -->
            <div class="form-inline" *ngIf="user.permissions > 1">
              <form (submit)="createGroup($event)">
                <input class="form-control" name="newGroupName" style="width:calc(100% - 100px)" placeholder="New Group" type="text" [(ngModel)]="newGroupName">
                <button class="btn btn-primary" style="width:100px">Create</button>
              </form>
            </div>

            <!-- List of Groups -->
            <div class="btn-group-vertical" style="width: 100%" *ngFor="let group of groups">
                <button type="button" (click)="openGroup(group.name)" class="btn btn-outline-primary" style="width: 100%">{{ group.name }}</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Channels Column -->
      <div class="col-lg-2" style="padding:0px">
        <div class="card mb-3">
          <h3 class="card-header">Channels</h3>
          <div class="card-body" style="height: 500px; overflow-y:scroll">

            <!-- New Channel Form -->
            <div class="form-inline" *ngIf="selectedGroup.role > 0">
              <form (submit)="createChannel($event)">
              <input class="form-control" name="newChannelName" style="width:calc(100% - 100px)" placeholder="New Channel" type="text" [(ngModel)]="newChannelName">
              <button class="btn btn-primary" style="width:100px">Create</button>
              </form>
            </div>

            <!-- List of Channels -->
            <app-channels [channels]=channels [user]=user [group]=selectedGroup (channelChanged)="channelChangedHandler($event)"></app-channels>
          </div>
        </div>
      </div>


      <!-- Chat Column -->
      <div class="col-lg-6" style="padding:0px">
        <app-chat [channel]=selectedChannel [messages]=messages [username]=user.username (fileChanged)="fileSelected($event)" (messageSend)="sendMessage($event)"></app-chat>
      </div>

      <!-- Members Column -->
      <div class="col-lg-2" style="padding:0px">
        <h3 style="text-align:center; width:100%">Users Online</h3>
        <ng-container *ngIf="selectedChannel != null" >
            <p *ngFor="let member of users" class="text-success">
              {{ member }}
            </p>
        </ng-container>
      </div>
    </div>

    <!-- Groups settings for admin-->
    <div class="row" style="width: 100%">
      <!-- Groups -->
      <div class="col-lg-2" style="padding:0px">
        <div *ngIf="selectedGroup && selectedGroup.role > 0">
          <div class="card mb-3" style="padding:10px">
            <h3 class="card-header">Group Settings</h3>
            <div class="card-body" style="height: 500px; overflow-y:scroll">
              <h4>{{selectedGroup.name}}</h4>
              <h6>All Members</h6>
              <ul class="list-group" *ngFor="let member of selectedGroup.members">
                <li class="list-group-item list-group-item-info">{{member}}</li>
              </ul>
              <h6>Promote to {{selectedGroup.name}} admin:</h6>
              <div *ngFor="let member of selectedGroup.members">
                <button *ngIf="!(selectedGroup.admins.includes(member))" (click)="update('promote', member, selectedGroup.name, null)" class="btn-success" style="width:100%">{{member}}</button>
              </div>
              <h6>Promote to {{selectedGroup.name}} admin:</h6>
              <div *ngFor="let member of selectedGroup.admins">
                <button *ngIf="member != user.username" (click)="update('demote', member, selectedGroup.name, null)" class="btn-danger" style="width:100%">{{member}}</button>
              </div>
              <h6>Kick from {{selectedGroup.name}}</h6>
              <div *ngFor="let member of selectedGroup.members">
                <button *ngIf="member != user.username" (click)="update('kick', member, selectedGroup.name, null)" class="btn-danger" style="width:100%">{{member}}</button>
              </div>
              <h6>Add user to {{selectedGroup.name}}</h6>
              <div class="input-group mb-3">
                <input type="text" class="form-control" #groupuser placeholder="Username">
                <div class="input-group-append">
                  <button class="btn btn-outline-success" (click)="update('add', groupuser.value, selectedGroup.name, null)" type="button">Add</button>
                </div>
              </div>
            </div>
            <button *ngIf="selectedGroup.role > 0"  (click)="deleteGroup(selectedGroup.name)" class="btn-danger col-lg-12" style="width:100%">Delete {{selectedGroup.name}}</button>
          </div>
        </div>
      </div>
      <!-- Channels Column -->
      <div class="col-lg-2" style="padding:0px">
        <div class="card mb-4" style="padding:10px" *ngIf="selectedChannel && selectedGroup.role > 0">
          <h3 class="card-header">Channel Settings</h3>
          <div class="card-body" style="height: 500px; overflow-y:scroll">
            <h4>{{selectedChannel.name}}</h4>
            <h6>People who can see</h6>
            <ul class="list-group" *ngFor="let member of selectedChannel.members">
              <li class="list-group-item list-group-item-info">{{member}}</li>
            </ul>
            <h6>Kick from {{selectedChannel.name}}</h6>
            <div *ngFor="let member of selectedChannel.members">
              <button *ngIf="member != user.username" (click)="update('kick', memeber, selectedGroup.name, selectedChannel.name)" class="btn-danger" style="width:100%">{{member}}</button>
            </div>
            <h6>Add user to {{selectedChannel.name}}</h6>
            <div class="input-group mb-3">
              <input type="text" class="form-control" #channeluser placeholder="Username">
              <div class="input-group-append">
                <button class="btn btn-outline-success" (click)="update('add', channeluser.value, selectedGroup.name, selectedChannel.name)" type="button">Add</button>
              </div>
            </div>
          </div>
          <button *ngIf="selectedGroup.role > 0" (click)="deleteChannel(selectedChannel.name)" class="btn-danger col-lg-12" style="width:100%">Delete {{selectedChannel.name}}</button>
        </div>
      </div>

      <div class="col-lg-8" style="padding:0px">
        <div class="card mb-4" style="padding:10px" *ngIf="user.permissions > 1">
          <h3 class="card-header">User Settings</h3>
          <div class="card-body" style="height: 500px; overflow-y:scroll">
            <form (submit)="createUser(username.value, email.value, password.value)">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" #username placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" #email placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" #password placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Create user</button>
            </form>
            <h6>All Users</h6>
            <ul class="list-group" *ngFor="let member of allusers">
              <li class="list-group-item list-group-item-info"><button class="btn btn-outline-danger" (click)=deleteUser(member._id) type="button">delete</button>{{member.username}} | {{member.email}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
